body {
  background-color: slategray;
}
.main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 10% 20% 20% 20%;
}
.main-2 {
	margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: sandybrown;
  padding: 20%;
  border: 2px solid white;
  border-radius: 25px;
}
.txt{
	color: black;
	text-decoration: underline;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inp{
	display: flex;
gap: 10px;

}